




.not-checked-item{
  margin-left: 10px;
  text-decoration: none;
}
.checked-item {
  margin-left: 10px;
  text-decoration: line-through;
}

.container{
  margin: 10px auto 50px auto;
  width: 95%;
}

.task-container{
  background: var(--color-warning);
  border: 1px solid var(--color-dark);
  display: inline-block;
  margin: 10px;
  padding: 0 20px;
  border-radius: 5px;
}

.task-container span{
  font-size: 30px;
  vertical-align: middle
}

.input-checkbox{
  appearance: auto;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  vertical-align: middle
}

.delete{
  color: var(--color-white);
  background: var(--color-black);
  font-size: 1rem;
  border-radius: 2px;
  margin: 1rem 0;
  border: none;
  padding: 1rem 0;
  width: 100px;
  cursor: pointer;
  transition: all 500ms ease;
}
.delete:hover{
  background: var(--color-black-variant);
}